.about {
  background: url("../img/bg-zigzag-line.svg") repeat-x 8px bottom;
  padding: 0 0 22px 0;
  background-size: 340px;
}

.about__container {
  width: 260px;
  margin: 0 auto;
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 27px 0 86px -2px;
}

.about__list {
  list-style: none;
  margin: 0 0 0 -1px;
  padding: 0;
}

.about__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding: 0 0 28px 0;
  position: relative;
  margin-bottom: 55px;
  letter-spacing: 0.1px;
  &::before {
    position: absolute;
    content: "";
    display: block;
    margin: 0 0 10px 0;
  }
  &:nth-child(1) {
    width: 180px;
  }
  &:nth-child(1)::before {
    width: 32px;
    height: 37px;
    background: url("../img/icon-feature-flower.svg") no-repeat center center;
    margin: 0 0 10px 10px;
    top: -54px;
    left: -1px;
  }
  &:nth-child(2) {
    width: 210px;
  }
  &:nth-child(2)::before {
    width: 48px;
    height: 28px;
    background: url("../img/icon-feature-money.svg") no-repeat center center;
    top: -53px;
    left: 0;
  }
  &:nth-child(3) {
    width: 200px;
  }
  &:nth-child(3)::before {
    width: 34px;
    height: 28px;
    background: url("../img/icon-feature-heart.svg") no-repeat center center;
    margin: 0 0 10px 10px;
    top: -48px;
    left: -2px;
  }
  &:nth-child(4) {
    width: 220px;
    margin-left: 1px;
  }
  &:nth-child(4)::before {
    width: 35px;
    height: 35px;
    background: url("../img/icon-feature-ball.svg") no-repeat center center;
    margin: 0 0 10px 5px;
    top: -51px;
    left: -2px;
  }
  &:nth-child(5) {
    width: 260px;
    margin-top: 1px;
    margin-left: 1px;
  }
  &:nth-child(5)::before {
    width: 55px;
    height: 23px;
    background: url("../img/icon-feature-rocket.svg") no-repeat center center;
    margin: 0 0 10px -5px;
    top: -50px;
    left: -1px;
  }
  &:nth-child(6) {
    width: 250px;
    margin-top: 1px;
    margin-left: 1px;
  }
  &:nth-child(6)::before {
    width: 33px;
    height: 32px;
    background: url("../img/icon-feature-gift.svg") no-repeat center center;
    margin: 0 0 10px 5px;
    top: -52px;
    left: -2px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    background-size: 768px 17px;
    background-position: 18px bottom;
    padding-bottom: 17px;
    margin-bottom: 61px;
  }
  .about__container {
    width: 668px;
    margin: 0 auto;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    letter-spacing: -0.3px;
    margin: 0 0 101px -4px;
  }

  .about__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 40%;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.1px;
    &:nth-child(1) {
      width: 220px;
      margin: 2px 17% 0 1px;
      order: 1;
    }
    &:nth-child(2) {
      width: 240px;
      order: 3;
      margin: 30px 10% 0 1px;
    }
    &:nth-child(3) {
      width: 240px;
      order: 5;
      margin: 83px 13% 0 1px;
    }
    &:nth-child(4) {
      width: 250px;
      order: 2;
      margin: 2px 0 53px 1px;
    }
    &:nth-child(5) {
      width: 50%;
      order: 4;
      position: relative;
      right: -25px;
      margin: 30px 0 0 2px;
      letter-spacing: 0.2px;
    }
    &:nth-child(6) {
      margin: 83px 0 0 7px;
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    width: 100%;
    background-position: 22px bottom;
    background-size: 1050px 21px;
    margin-bottom: 103px;
  }

  .about__container {
    width: 800px;
    margin: 0 auto -21px auto;
    padding: 4px 0 23px 103px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    margin: 0 0 101px -5px;
    letter-spacing: -0.5px;
  }

  .about__item {
    margin-bottom: 50px;
    letter-spacing: 0.1px;
    &:nth-child(1) {
      margin-left: -1px;
    }
    &:nth-child(2) {
      margin: 30px 81px 0 -1px;
    }
    &:nth-child(3) {
      margin: 78px 104px 0 0;
    }
    &:nth-child(4) {
      margin-left: -6px;
    }
    &:nth-child(5) {
      margin: 30px 0 5px 4px;
      letter-spacing: 0.2px;
    }
    &:nth-child(6) {
      margin: 78px 0 0 6px;
    }
  }
}
