.about {
  background: url("../img/bg-zigzag-line.svg") no-repeat center bottom;
  padding: 0 0 20px 0;
  background-size: 340px;
}

.about__container {
  width: 260px;
  margin: 0 auto;
}

.about__title {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__item {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding: 0 0 28px 0;
  &::before {
    content: "";
    display: block;
    top: 0;
    margin: 0 0 10px 0;
  }
  &:nth-child(1)::before {
    width: 32px;
    height: 37px;
    background: url("../img/icon-feature-flower.svg") no-repeat center center;
    margin: 0 0 10px 10px;
  }
  &:nth-child(2)::before {
    width: 48px;
    height: 28px;
    background: url("../img/icon-feature-money.svg") no-repeat center center;
  }
  &:nth-child(3)::before {
    width: 34px;
    height: 28px;
    background: url("../img/icon-feature-heart.svg") no-repeat center center;
    margin: 0 0 10px 10px;
  }
  &:nth-child(4)::before {
    width: 35px;
    height: 35px;
    background: url("../img/icon-feature-ball.svg") no-repeat center center;
    margin: 0 0 10px 5px;
  }
  &:nth-child(5)::before {
    width: 55px;
    height: 23px;
    background: url("../img/icon-feature-rocket.svg") no-repeat center center;
    margin: 0 0 10px -5px;
  }
  &:nth-child(6)::before {
    width: 33px;
    height: 32px;
    background: url("../img/icon-feature-gift.svg") no-repeat center center;
    margin: 0 0 10px 5px;
  }
}

@media (min-width: 768px) {
  .about {
    background-size: 800px;
  }
  .about__container {
    width: 668px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    width: 40%;
    font-size: 20px;
    line-height: 22px;
    &:nth-child(1) {
      margin-right: 13%;
      order: 1;
    }
    &:nth-child(2) {
      order: 3;
      margin-right: 10%;
    }
    &:nth-child(3) {
      order: 5;
      margin-right: 13%;
    }
    &:nth-child(4) {
      order: 2;
    }
    &:nth-child(5) {
      width: 50%;
      order: 4;
      position: relative;
      right: -20px;
    }
    &:nth-child(6) {
      order: 6;
    }
  }
}
