.catalog {
  width: 260px;
  margin: 0 auto;
}

.catalog__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 1px solid #ededed;
  margin-bottom: 28px;
  padding-bottom: 27px;
}

.catalog__image {
  width: 260px;
  height: 195px;
}

.catalog__presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10%;
}

.catalog__title {
  font-family: "Open Sans Block", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.catalog__description {
  width: 205px;
  display: block;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.catalog__cost {
  width: 82%;
  padding: 20px 5% 0 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
}

.catalog__price {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.catalog__purchase {
  font-size: 0;
  width: 21px;
  height: 20px;
  background: #ffffff url("../img/icon-cart.svg") no-repeat center center;
  border: none;
}

@media (min-width: 768px) {
  .catalog {
    width: 668px;
  }

  .catalog__item {
    padding: 0;
  }

  .catalog__content {
    width: 270px;
  }

  .catalog__presentation {
    height: 50px;
    margin-bottom: 80%;
  }

  .catalog__cost {
    width: 100%;
  }

  .catalog__image {
    width: 334px;
    height: 334px;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .catalog {
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .catalog__item {
    width: 315px;
    display: flex;
  }

  .catalog__image {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .catalog__presentation {
    margin-bottom: 50%;
  }

  .catalog__cost {
    width: 95%;
    margin-bottom: 20px;
  }
}
