.categories__container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto 27px auto;
  padding: 0;
  position: relative;
}

.categories {
  background: #f8f8f8;
}

.categories__item {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: -4px;
  &--light {
    background: #63d1bb;
  }
  &--dark {
    background: #46c1ae;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
  }
  &--light::after {
    background: url("../img/icon-interior.svg") no-repeat center center;
    width: 40px;
    height: 62px;
    top: 23px;
    right: 36px;
  }
  &--dark::after {
    background: url("../img/icon-toy.svg") no-repeat center center;
    width: 60px;
    height: 60px;
    top: 21px;
    right: 27px;
  }
  &:hover {
    cursor: pointer;
  }
  &:active::after {
    opacity: 0.3;
  }
}

.categories__link {
  display: block;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  width: 150px;
  letter-spacing: 0.2px;
  padding: 25px 45% 34px 9%;
  &--toys {
    padding: 25px 45% 30px 9%;
  }
}

.categories__item:active .categories__link {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .categories {
    margin: -3px auto 33px auto;
    position: relative;
    background: #f8f8f8;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 50px;
      position: absolute;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-size: 768px;
      bottom: -28px;
    }
  }

  .categories__item {
    width: 43.5%;
    &:nth-child(1) {
      margin-left: 6.5%;
    }
    &:nth-child(2) {
      width: 43.4%;
    }
    &--light::after {
      top: 30px;
      right: 37px;
    }
    &--dark::after {
      top: 32px;
      right: 35px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }

  .categories__link {
    position: relative;
    top: -6px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    padding: 35px 55.5% 35px 10%;
    &--toys {
      padding: 35px 55.5% 35px 11%;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    margin-bottom: 112px;
    &::after {
      background-size: auto 37px;
      background-position: 11.6px 1px;
    }
  }

  .categories__item {
    &:nth-child(1) {
      width: 45.7%;
      margin-left: 4.34%;
    }
    &:nth-child(2) {
      width: 45.6%;
      margin-right: 4.34%;
    }
    &--light::after {
      top: 30px;
      right: 36px;
    }
    &--dark::after {
      top: 32px;
      right: 35px;
    }
  }

  .categories__link {
    padding: 33px 70% 29px 7%;
    letter-spacing: 0.1px;
  }
}
