.comments__container {
  width: 260px;
  margin: 0 auto;
}

.comments__title {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.comments__blockquote {
  margin: 0;
  padding: 0;
}

.comments__text {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
}

.comments__name {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
}

.comments__instagramm {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
}

.comments__buttons {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid #ececec;
  padding: 10px 0;
  text-align: center;
}

.comments__button {
  border: none;
  font-size: 0;
  width: 50px;
  height: 28px;
  &--backward {
    background: #ffffff url("../img/icon-left-arrow.svg") no-repeat center center;
  }
  &--forward {
    background: #ffffff url("../img/icon-right-arrow.svg") no-repeat center center;
  }
}

.comments__write-button {
  padding: 14px 32%;
}

@media (min-width: 768px) {
  .comments {
    position: relative;
    background:  url("../img/review@1x.jpg") no-repeat left center;
    padding: 20px 0;
  }

  .comments__container {
    width: 668px;
  }

  .comments__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 100px;
  }

  .comments__text {
    font-size: 17px;
    margin-bottom: 100px;
  }

  .comments__name {
    font-size: 17px;
  }

  .comments__instagramm {
    font-size: 17px;
  }

  .comments__buttons {
    width: 167px;
    border: none;
    position: absolute;
    bottom: -5px;
    right: 0;
  }

  .comments__write-button {
    padding: 14px 10%;
    position: absolute;
    top: 40px;
    right: 0;
  }
}

@media (min-width: 1150px) {
  .comments {
    padding: 50px 0;
  }

  .comments__container {
    width: 875px;
    margin: 0 0 100px 200px;
  }

  .comments__title {
    font-size: 53px;
    line-height: 57px;
  }

  .comments__buttons {
    bottom:  10px;
  }

  .comments__write-button {
    padding: 14px 5%;
  }
}
