.comments {
  margin-top: -28px;
}

.comments__container {
  width: 260px;
  margin: 0 auto;
}

.comments__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 1px 0 24px -2px;
  letter-spacing: 0.2px;
}

.comments__blockquote {
  margin: 0;
  padding: 0;
}

.comments__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 24px;
}

.comments__br {
  display: none;
}

.comments__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
}

.comments__instagramm {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
}

.comments__buttons {
  margin: 29px 0 38px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid #ececec;
  padding: 11px 0;
  text-align: center;
}

.comments__button {
  border: none;
  font-size: 0;
  width: 50px;
  height: 28px;
  outline: none;
  &--backward {
    background: #ffffff url("../img/icon-left-arrow.svg") no-repeat center center;
    margin-left: -3px;
  }
  &--forward {
    background: #ffffff url("../img/icon-right-arrow.svg") no-repeat center center;
    margin-right: 1px;
  }
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &:active {
    opacity: 0.3;
  }
}

.comments__write-button {
  padding: 12px 31%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .comments {
    position: relative;
    margin: 31px auto 43px auto;
    padding: 20px 0;
    background:  url("../img/review@1x.jpg") no-repeat left 24px;
    background-size: 350px 457px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/review@2x.jpg");
        background-size: 350px 457px;
      }
  }

  .comments__container {
    width: 668px;
  }

  .comments__title {
    font-size: 43px;
    line-height: 50px;
    margin: 81px 0 0 -5px;
  }

  .comments__text {
    font-size: 17px;
    line-height: 30px;
    margin: 50px 0 55px 0;
  }

  .comments__autor {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    letter-spacing: 0.1px;
  }

  .comments__name {
    font-size: 18px;
    line-height: 24px;
    margin: 1px 0 5px -1px;
  }

  .comments__instagramm {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.1px;
  }

  .comments__buttons {
    width: 173px;
    border: none;
    position: absolute;
    bottom: 39px;
    right: 51px;
  }

  .comments__write-button {
    padding: 12px 5%;
    position: absolute;
    top: 103px;
    right: 50px;
  }
}

@media (min-width: 1150px) {
  .comments {
    width: 1050px;
    background: url("../img/review@1x.jpg") no-repeat 91px 31px;
    background-size: 350px 457px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/review@2x.jpg");
        background-size: 350px 457px;
      }
    height: 460px;
    margin: 31px auto 57px auto;
    position: relative;
    top: -2px;
    left: -91px;
  }

  .comments__container {
    margin: -7px auto 0 auto;
    padding: 0 80px 0 280px;
  }

  .comments__title {
    font-size: 53px;
    line-height: 57px;
    position: relative;
    top: 7px;
    left: -24px;
  }

  .comments__text {
    width: 770px;
    position: relative;
    top: 6px;
    left: -24px;
    letter-spacing: -0.01px;
  }

  .comments__br {
    display: block;
  }

  .comments__autor {
    position: relative;
    top: -11px;
    left: -25px;
    letter-spacing: -0.4px;
  }

  .comments__instagramm {
    margin-top: -1px;
    letter-spacing: 0px;
  }

  .comments__buttons {
    position: absolute;
    bottom: 75px;
    right: -90px;
  }

  .comments__write-button {
    position: absolute;
    top: 110px;
    padding: 12px 3.6%;
    right: -90px;
  }
}
