.contacts {
  width: 320px;
}

.contacts__container {
  width: 260px;
  margin: 0 auto 39px auto;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 34px 0 23px -2px;
}

.contacts__table {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  letter-spacing: -0.2px;
  margin: 0 0 9px -3px;
}

.contacts__item {
  display: block;
  margin: -1px 0 -5px -1px;
  &:nth-child(2) {
    margin-left: -2px;
  }
}

.contacts__field {
  width: 20%;
  vertical-align: top;
  padding:  0 0 30px 0;
}

.contacts__value {
  width: 80%;
  padding: 0 0 30px 30px;
  &--address {
    padding-left: 25px;
  }
}

.contacts__email {
    width: 80px;
    border-bottom: 1px solid #62d1ba;
    padding-bottom: 4px;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: rgba(70, 193, 174, 1);
    }
    &:active {
      opacity: 0.3;
    }
}

.contacts__map {
  margin: -30px auto 36px auto;
  background: #dfdfdf url("../img/map-mobile@1x.jpg") no-repeat center center;
  background-size: 320px 457px;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
      background-size: 320px 457px;
    }
  border: none;
  width: 320px;
  height: 457px;
}

.contacts__button {
  width: 260px;
  padding: 12px 50px;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    margin-bottom: 57px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 46px -4px;
    position: relative;
    letter-spacing: -0.2px;
    &::after {
      content: "";
      display: block;
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat;
      position: absolute;
      top: -16px;
      right: 4px;
    }
  }

  .contacts__container {
    width: 668px;
    margin: 0 auto;
  }

  .contacts__table {
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 27px -3px;
    letter-spacing: -0.2px;
  }

  .contacts__tbody {
    width: 668px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .contacts__item {
    &:nth-child(1) {
      margin-right: 16px;
    }
  }

  .contacts__field {
    width: 53px;
  }

  .contacts__value {
    width: 230px;
    &--address {
      padding-left: 23px;
      letter-spacing: -0.1px;
    }
  }

  .contacts__email {
    letter-spacing: -0.1px;
    margin-left: -8px;
    padding-bottom: 2px;
  }

  .contacts__map {
    width: 768px;
    height: 457px;
    background: url("../img/map-tablet@1x.jpg") no-repeat center center;
    background-size: 768px 460px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-tablet@2x.jpg");
        background-size: 768px 460px;
      }
    margin: 0 auto;
    margin-bottom: 52px;
  }

  .contacts__button {
    width: auto;
    margin-left: 32.8%;
    padding: 12px 36px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    width: 1050px;
    display: flex;
    position: relative;
    margin: 0 auto 180px auto;
    padding: 41px 0 0 5px;
  }

  .contacts__container {
    margin-left: 147px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    position: relative;
    margin: 0 0 45px 20px;
    letter-spacing: -0.5px;
    &::after {
      top: -9px;
      left: -107px;
    }
  }

  .contacts__container {
    width: 350px;
  }

  .contacts__tbody {
    flex-direction: column;
    margin: 0 0 0 25px;
  }

  .contacts__item {
    &:nth-child(2) {
      margin-top: 1px;
    }
  }

  .contacts__email {
    margin-left: -7px;
  }

  .contacts__map {
    background: url("../img/map-desktop@1x.jpg") no-repeat center center;
    background-size: 525px 457px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/map-desktop@2x.jpg");
        background-size: 525px 457px;
      }
    width: 525px;
    height: 457px;
    position: absolute;
    top: -30px;
    right: 4px;
  }

  .contacts__button {
    position: absolute;
    bottom: -75px;
    left: -169px;
    padding: 12px 36px;
  }
}
