.contacts {
  width: 260px;
  margin: 0 auto 38px auto;
}

.contacts__title {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 35px 0 22px 0;
}

.contacts__table {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  letter-spacing: -0.2px;
  margin: 0 0 5px -5px;
}

.contacts__field {
  width: 20%;
  vertical-align: top;
  padding:  0 0 30px 0;
}

.contacts__value {
  width: 80%;
  padding: 0 0 30px 25px;
}

.contacts__email {
    width: 80px;
    border-bottom: 1px solid #62d1ba;
    padding-bottom: 5px;
}

.contacts__map {
  margin: 0 0 35px -30px;
  background: #dfdfdf url("../img/map-mobile@1x.jpg") no-repeat center center;
  border: none;
  width: 320px;
  height: 457px;
}

.contacts__button {
  width: 100%;
  padding: 13px 50px;
}

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    margin-bottom: 57px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 45px -4px;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg");
      position: absolute;
      top: -16px;
      right: 4px;
    }
  }

  .contacts__container {
    width: 668px;
    margin: 0 auto;
  }

  .contacts__table {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 19px;
  }

  .contacts__tbody {
    width: 668px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .contacts__item {
    &:nth-child(1) {
      margin-right: 20px;
    }
  }

  .contacts__field {
    width: 53px;
  }

  .contacts__value {
    width: 230px;
  }

  .contacts__email {
    padding-bottom: 2px;
  }

  .contacts__map {
    width: 768px;
    height: 460px;
    background: url("../img/map-tablet@1x.jpg") no-repeat center center;
    margin: 0 auto;
    margin-bottom: 51px;
  }

  .contacts__button {
    width: auto;
    margin-left: 35%;
    padding: 12px 39px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    width: 875px;
    display: flex;
    position: relative;
    margin: 0 0 -37px 200px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    position: relative;
    margin: 0 0 45px 20px;
    &::after {
      top: -9px;
      left: -107px;
    }
  }

  .contacts__container {
    width: 350px;
  }

  .contacts__tbody {
    flex-direction: column;
    margin: 0 0 0 25px;
  }

  .contacts__item {
    &:nth-child(2) {
      margin-top: -5px;
    }
  }

  .contacts__map {
    background: url("../img/map-desktop@1x.jpg") no-repeat center center;
    width: 525px;
    height: 457px;
    position: relative;
    top: -71px;
    left: 24px;
  }

  .contacts__button {
    position: absolute;
    bottom: 122px;
    left: -280px;
    padding: 12px 38px;
  }
}
