.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  cursor: pointer;
  margin-left: 10px;
}

.developer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.developer__image {
  margin: 1px 0 0 25px;
}

@media (min-width: 768px) {
  .developer {
    width: 200px;
    margin: 5px 13px 0 0;
  }
}
