.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  cursor: pointer;
  margin-left: 10%;
  &:active {
    opacity: 0.3;
  }
}

.developer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
  margin: -2px 0 0 -13px;
}

.developer__image {
  margin: 5px 0 0 29px;
}

@media (min-width: 768px) {
  .developer {
    width: 200px;
    margin: 7px 17px 0 27.8%;
  }

  .developer__link {
    letter-spacing: 0.5px;
  }

  .developer__image {
    margin: 7px 0 0 30px;
  }
}

@media (min-width: 1150px) {
  .developer__link {
    margin: 2px 0 0 0;
    letter-spacing: 0.6px;
  }

  .developer__image {
    margin: 6px 0 0 29px;
  }
}
