.featured__title {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.featured__subtitle {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.featured__text {
  margin: 20px 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.featured__item {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
}

.featured__value {
  padding-left: 15px;
}

.featured__image {
  margin: 20px 0 20px 0;
}

.featured__price {
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #444444;
  margin-bottom: 20px;
}
