.form__item {
  width: 260px;
  margin: 0 auto;
  &:nth-child(1) {
    margin-bottom: 11px;
  }
}

.form__text {
  width: 260px;
  margin: -9px auto 5px   auto;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form__title {
  width: 100%;
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  margin: 20px 0;
  position: relative;
  &--color {
    margin-bottom: 23px;
  }
  &--full-name {
    margin: 1px 0 29px 0;
  }
  &::after {
    content: "";
    display: block;
    width: 198px;
    height: 1px;
    background-color: #62d1ba;
    position: absolute;
    top: 8px;
    right: 0;
  }
  &--email::after {
    width: 179px;
  }
  &--phone {
    margin: -4px 0 7px 0;
  }
  &--email {
    margin: -2px 0 7px 0;
  }
  &--addition {
    margin: -1px 0 24px 0;
  }
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.form__content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  &--phone {
    margin-bottom: 3px;
  }
}

.form__radio {
  display: none;
}

.form__checkbox {
  display: none;
}

.form__label {
  width: 60%;
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 13px 0 11px 0;
  letter-spacing: 0.5px;
  position: relative;
  right: -12px;
  cursor: pointer;
  &--checked {
    margin-left: 50px;
  }
  &--type::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    border: 2px solid #444444;
    position: absolute;
    top: -7px;
    left: -61px;
    border-radius: 50%;
  }
  &--type::after {
    content: "";
    display: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
    position: absolute;
    top: 4.5px;
    left: -50.5px;
  }
  &--color {
    margin-bottom: 30px;
  }
  &--color::before {
    content: "";
    display: block;
    width: 36px;
    height: 35px;
    border: 2px solid #444444;
    position: absolute;
    top: -11px;
    left: -62px;
  }
  &--color::after {
    content: "";
    display: none;
    width: 20px;
    height: 9px;
    border-left: 2px solid #444444;
    border-bottom: 2px solid #444444;
    transform: rotate(-45deg);
    position: absolute;
    top: 1px;
    left: -53px;
  }
  &--input {
    margin: 0 0 0 -12px;
  }
  &--title {
    margin-bottom: 10px;
  }
}

.form__label--type:hover::before {
  border-color: #62d1ba;
}

.form__label--type:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__label--type:active::after {
  background: rgba(68, 68, 68, 0.3);
}

.form__label--color:hover::before {
  border-color: #62d1ba;
}

.form__label--color:active::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__label--color:hover::after {
  border-color: #62d1ba;
}

.form__label--color:active::after {
  border-color: rgba(68, 68, 68, 0.3);
}

.form__radio:checked+.form__label--type::after {
  display: block;
}

.form__checkbox:checked+.form__label--color::after {
  display: block;
}

.form__element {
  margin-bottom: 1.5px;
  display: flex;
  flex-direction: column;
}

.form__content {
  position: relative;
}

.form__input-text {
  width: 260px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #000000;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  z-index: 0;
  &--phone {
    letter-spacing: 1.4px;
  }
  &:hover {
    border-color: #62d1ba;
  }
  &:focus {
    border-color: #62d1ba;
  }
}

.form__icon {
  width: 34px;
  height: 34px;
  position: absolute;
  fill: #cccccc;
}

.form__icon--phone {
  top: 11px;
  left: 227px;
}

.form__icon--email {
  top: 11px;
  left: 224px;
}

.form__input-text:hover+.form__icon {
  fill: #62d1ba;
}

.form__input-text:focus+.form__icon {
  fill: #62d1ba;
}

.form__textarea {
  display: block;
  width: 87.5%;
  height: 112px;
  padding: 13px 5.5%;
  margin: 0 0 -2px 0;
  line-height: 18px;
  letter-spacing: 0.5px;
  border: 2px solid #000000;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  &:hover {
    border-color: #62d1ba;
  }
  &:focus {
    border-color: #62d1ba;
  }
}

.form__span {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0 28px;
}

.form__button {
  padding: 12px 45px;
  margin: 29px 0 35px 30px;
}

@media (min-width: 768px) {
  .form__container {
    padding: 50px 0 31px 0;
    background: #F1F1F1;
    &--color {
      margin: 9px 0 67px 0;
    }
    &--phone-and-mail {
      padding-bottom: 30px;
      margin-bottom: 50px;
    }
  }

  .form__item {
    width: 668px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
  }

  .form__element {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &:nth-child(1) {
      margin-bottom: 41px;
    }
    &:nth-child(2) {
      margin-bottom: 41px;
    }
  }

  .form__label {
    font-size: 19px;
    letter-spacing: 0;
    &--color {
      width: 130px;
      margin: 20px 0 38px 69px;
      &:nth-of-type(1) {
        margin-right: 63px;
      }
      &:nth-of-type(3) {
        margin-right: 63px;
      }
      &:nth-of-type(5) {
        margin-right: 63px;
      }
    }
    &--color::before {
      width: 50px;
      height: 48px;
      top: -15px;
      left: -81px;
    }
    &--color::after {
      width: 27px;
      height: 14px;
      top: -1px;
      left: -68px;
    }
    &--type {
      margin: -2px 0 60px 69px;
    }
    &--type::before {
      width: 48px;
      height: 48px;
      top: -15px;
      left: -81px;
    }
    &--type::after {
      width: 22px;
      height: 22px;
      top: 0;
      left: -65.8px;
    }
    &--input {
      width: 140px;
      margin: -2px 0 0 -11px;
    }
  }

  .form__text {
    width: 668px;
    margin: -6px auto 73px auto;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.03px;
  }

  .form__title {
    width: 10%;
    margin: 0;
    &--color {
      margin: 17px 0 0 1px;
    }
    &::after {
      display: none;
    }
    &--phone {
      margin: 0 0 0 1px;
    }
    &--email {
      margin: 4px 0 0 1px;
    }
    &--full-name {
      margin-left: 2px;
    }
    &--input {
      top: 18px;
      left: 1px;
    }
  }

  .form__content {
    width: 501px;
    &:nth-child(2) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &--color {
      width: 501px;
      margin-top: -5px;
    }
    &--full-name {
      margin-bottom: 48px;
    }
  }

  .form__input-text {
    width: 501px;
    font-size: 19px;
    letter-spacing: 0;
    &--phone {
      background: #F1F1F1;
      padding-left: 18px;
    }
    &--mail {
      margin-top: 4px;
      padding-left: 17px;
      background: #F1F1F1;
    }
    &--name {
      width: 411px;
      margin: -17px 0 0 -56px;
      padding-left: 17px;
    }
    &--surname {
      width: 358px;
      margin: -17px 0 0 -3px;
      padding-left: 17px;
    }
    &--patron {
      width: 358px;
      margin: -17px 0 0 -3px;
      padding-left: 17px;
    }
  }

  .form__icon--phone {
    top: 11px;
    left: 450px;
  }

  .form__icon--email {
    top: 15px;
    left: 447px;
  }

  .form__footer {
    width: 658px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 21px auto 30px auto;
    padding: 0;
  }

  .form__button {
    order: 1;
    padding: 1.85% 30px;
    margin: 32px 0 20px -5px;
  }

  .form__span {
    order: 2;
    font-size: 17px;
    line-height: 30px;
    margin: 7px -5px 0 0;
  }

  .form__textarea {
    width: 454px;
    font-size: 19px;
    letter-spacing: 0;
    padding-left: 15px;
  }
}

@media (min-width: 1150px) {
  .form {
    margin: -7px 0 30px 0;
  }

  .form__text {
    width: 700px;
    margin: 0 auto 73px auto;
  }

  .form__item {
    width: 1050px;
    justify-content: flex-start;
  }

  .form__title {
    width: 165px;
    text-align: center;
    &--phone {
      margin-left: -5px;
    }
    &--email {
      margin: 6px 0 0 8px;
    }
  }

  .form__content {
    &--type {
      width: 350px;
      margin-bottom: -1px;
    }
    &--color {
      margin: -5px 0 -42px -2px;
      padding: 22px 0 20px 0;
      width: 875px;
    }
    &--full-name {
      width: 1000px;
      margin: 0 0 6px -82px;
    }
    &--email {
      width: 720px;
    }
    &--phone {
      width: 720px;
    }
    &--textarea {
      width: 710px;
    }
  }

  .form__label {
    margin: -2px 0 60px 80px;
    &--type {
      width: 350px;
      margin-left: 79px;
    }
    &--type::before {
      left: -81px;
    }
    &--color {
      width: 100px;
      margin-right: 82px;
      &:nth-of-type(1) {
        margin-right: 82px;
      }
      &:nth-of-type(2) {
        margin-right: 84px;
      }
      &:nth-of-type(5) {
        margin-right: 84px;
      }
    }
    &--input {
      margin-left: 85px;
    }
    &--name {
      width: 60px;
      margin-right: 24px;
    }
    &--surname {
      width: 100px;
      margin-right: 39px;
    }
    &--patron {
      width: 100px;
      margin-right: 18px;
    }
  }

  .form__element {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    &:nth-child(2) {
      margin-top: -40px;
    }
    &:nth-child(3) {
      margin-top: -41px;
    }
  }

  .form__input-text {
    width: 570px;
    height: 50px;
    margin-left: -17px;
    padding: 0;
    &--name {
      width: 608px;
      padding-left: 18px;
      margin-left: 0;
    }
    &--surname {
      width: 555px;
      margin: -18px 0 0 -2px;
      padding-left: 18px;
    }
    &--patron {
      width: 555px;
      margin: -18px 0 0 19px;
      padding-left: 18px;
    }
    &--phone {
      width: 683px;
      margin-left: 15px;
      padding-left: 17px;
    }
    &--mail {
      width: 683px;
      margin-left: 2px;
      padding-left: 17px;
    }
  }

  .form__icon--phone {
    top: 11px;
    left: 682px;
  }

  .form__icon--email {
    top: 15px;
    left: 666px;
  }

  .form__textarea {
    width:710px;
    height: 110px;
    margin-left: 10px;
    padding: 14px;
  }

  .form__footer {
    width: 685px;
    margin: 17px auto 0 auto;
  }

  .form__button {
    margin: 32px 0 20px -8px;
    padding: 1.8% 30.5px;
  }

  .form__span {
    margin: 11px -8px 0 0;
  }
}
