.hero {
  background: #f9f9f9 url("../../img/hero-mobile@1x.jpg") no-repeat center top;
  width: 100%;
  padding: 85px 0 125px 0;
}

.hero__title {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans Bold", "Arial", "Helvetica";
  font-size: 24px;
  line-height: 30px;
}
