.main-nav__logo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 22px 30px 21px;
  border-bottom: 1px solid #ececec;
  z-index: 1;
}

.main-nav__logo {
  display: block;
  width: 86px;
  height: 35px;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.main-nav__button {
  display: none;
  position: absolute;
  right: 29px;
  top: 50%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border: none;
  background: url("../img/icon-menu-open.svg") no-repeat center center;
  font-size: 0;
  outline: none;
  cursor: pointer;
  &--active {
    background: url("../img/icon-menu-close.svg") no-repeat center center;
  }
  &--shower {
    display: block;
  }
}

.main-nav__list {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
  &--hidden {
    display: none;
  }
  &--viewer {
    display: block;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 27px 30px 27px 75px;
  border-bottom: 1px solid #ececec;
  color: #000000;
  text-decoration: none;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
  &--search::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url("../img/icon-search.svg") no-repeat center center;
    left: 33px;
    top: 32px;
  }
  &--search:hover::before {
    background: url("../img/icon-search-hover.svg") no-repeat center center;
  }
  &--search:active::before {
    background: url("../img/icon-search-active.svg") no-repeat center center;
  }
  &--cart::before {
    content: "";
    display: block;
    position: absolute;
    width: 21px;
    height: 19px;
    background: url("../img/icon-cart.svg") no-repeat center center;
    left: 31px;
    top: 30px;
  }
  &--cart:hover::before {
    background: url("../img/icon-cart-hover.svg") no-repeat center center;
  }
  &--cart:active::before {
    background: url("../img/icon-cart-active.svg") no-repeat center center;
  }
}

.main-nav__notice {
  display: none;
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__logo-wrapper {
    justify-content: flex-start;
    flex-grow: 1;
    padding: 22px 51px 20px 49px;
  }

  .main-nav__logo {
    width: 112px;
    height: 46px;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__link {
    border-bottom: none;
    &--search {
      font-size: 0;
      padding: 32px 40.5px;
      &::before {
        top: 37px;
      }
    }
    &--cart {
      padding: 31px 49px 31px 81.5px;
      &::before {
        left: 31px;
        top: 35px;
      }
    }
  }

  .main-nav__notice {
    display: block;
    order: 2;
    width: 30%;
    padding: 21px 49px 18px 55px;
    text-align: right;
    font-size: 15px;
  }
}

@media (min-width: 1150px) {
  .main-nav__logo-wrapper {
    flex-grow: 0;
    order: 1;
    padding: 9px 97px 4px 32px;
  }

  .main-nav__logo {
    width: 150px;
    height: 75px;
  }

  .main-nav__notice {
    width: 494px;
    order: 4;
  }
}
