.main-nav__list {
  display: none;
}

.main-nav__button {
  position: absolute;
  top: 30px;
  right: 0;
  width: 22px;
  height: 22px;
  font-size: 0;
  background: no-repeat center;
  border: none;
  outline: none;
  cursor: pointer;
  &--unactive {
    background-image: url('../img/icon-menu-open.svg');
  }
}
