.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 336px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  box-shadow: inset 0 0 0 1px #e5e5e5,0 6px 10px 0 rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  z-index: 20;
  display: none;
}

.modal-window--show {
  display: block;
}

.modal-window__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  width: 150px;
  margin: 31px auto 11px auto;
  text-align: center;
}

.modal-window__subtitle {
  display: block;
  width: 150px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin: auto;
  text-align: center;
  margin: 0 auto 23px auto;
}

.modal-window__radio-buttons {
  width: 257px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.modal-window__radio {
  display: none;
}

.modal-window__label {
  display: block;
  padding: 16px 33px;
  text-align: center;
  border: 2px solid #ececec;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  cursor: pointer;
  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }
  &:active {
    border-color: #444444;
  }
}

.modal-window__radio:checked+.modal-window__label {
  border-color: #63d1bb;
}

.modal-window__button {
  border: 2px #63d1bb;
  background: #63d1bb;
  color: #ffffff;
  margin: 32px 10px 0 -2px;
  padding: 5.5% 31.4%;
  &:hover {
    background: #63d1bb;
    color: #ffffff;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .modal-window {
    width: 567px;
    height: 300px;
    padding-bottom: 38px;
  }

  .modal-window__title {
    width: 100%;
    font-size: 30px;
    line-height: 57px;
    margin: 35px auto 14px auto;
  }

  .modal-window__subtitle {
    width: 160px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: -32px;
  }

  .modal-window__radio-buttons {
    width: 61.5%;
    padding: 50px 50px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .modal-window__label {
    padding: 16px 14%;
  }

  .modal-window__button {
    width: 350px;
    height: 52px;
    margin: 33px 0 0 0;
    padding: 5% 30%;
  }
}
