.page-footer {
  background-color: #f1f1f1;
  &--catalog {
    margin-top: -2px;
  }
}

.page-footer__logo {
  display: none;
  &:hover {
    fill: rgba(98, 209, 186, 1);
  }
  &:active {
    opacity: 0.3;
  }
}

.page-footer__container {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 4px 0 23px 0;
  margin: 0 auto;
}

.page-footer__developed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  cursor: pointer;
  margin: -1px 0 0 9%;
  &:hover .page-footer__image {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.3;
  }
}

.page-footer__title {
  margin: 0;
  padding: 0;
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 19px;
  margin: -2px 0 0 -13px;
  color: #000000;
  text-decoration: none;
}

.page-footer__image {
  margin: 5px 0 0 29px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 42px 0 28px 0;
  }

  .page-footer__logo {
    display: block;
    margin: 0 87px 0 29px;
  }

  .page-footer__container {
    width: 745px;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 16px;
  }

  .page-footer__developed {
    width: 200px;
    margin: 7px 17px 0 27.8%;
  }

  .page-footer__image {
    margin: 7px 0 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 40px 0 26px 0;
  }

  .page-footer__container {
    width: 1100px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 0 200px 0 18px;
  }

  .page-footer__developed {
    margin-top: 5px;
  }

  .page-footer__link {
    margin: 2px 0 0 0;
  }

  .page-footer__image {
    margin: 6px 0 0 29px;
  }
}
