.produce {
  padding-top: 50px;
  margin-bottom: 60px;
  border: 1px solid #ededed;
}

.produce__title {
  width: 50%;
  font-family: "Open Sans Bold", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-left: 80px;
}

.produce__text {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10%;
}

.produce__button {
  padding: 10px 30px;
  margin: 20px 30px;
}
