.social-network {
  list-style: none;
  padding: 0 0 25px 0;
  margin: auto auto 15px auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 56%;
  border-bottom: 1px solid #e5e5e5;
}

.social-network__link {
  font-size: 0;
  display: block;
  background: center no-repeat;
  &--instagramm {
    width: 23px;
    height: 21px;
    background-image: url("../../img/icon-insta.svg");
  }
  &--facebook {
    width: 15px;
    height: 33px;
    background-image: url("../../img/icon-fb.svg");
  }
  &--twitter {
    width: 27px;
    height: 22px;
    background-image: url("../../img/icon-twitter.svg");
  }
}
